
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>The dataset is originally generated and maintained by National Transportation Safety Board (NTSB), a highly-accountable institue. 
        The dataset describes the incidents and accidents of Boeing 737 from 2002 to 2012. It consists of 242 rows and 23 columns(after cleaned). 
        Some coloumns still contain incomplete data after cleaned. I remain them just for reference. And some incomplete columns from the original data are removed by me
         due to too much incompleteness or redundancy. The data is very accountable. 
        As we mentioned in the home page, we can get some cool analysis from the complete part of this data set.
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>I fetch the date from the Google Fusion Table. The data is sourced from National Transportation Safety Board (NTSB). NTSB is an independent U.S. government investigative agency responsible for civil transportation accident investigation. 
	In this role, the NTSB investigates and reports on aviation accidents and incidents, certain types of highway crashes, ship and marine accidents, pipeline incidents, and railroad accidents.
	The original data from the google fusion table 
        is <a href="https://fusiontables.google.com/DataSource?docid=1DY0taUUozulnivIck_ZGqJBrDyhIgn_M19vPb8Y">here</a>.</a></p>
      </div>
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>The NTSB's database is publicly accesible. We can access the database directly through the internet. And the data set I use in the byte is publicly accessible on google fusion table app.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
